/* main.css */
* {
	font-family: Tahoma;
	font-size: 16px;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display : flex;
	flex-direction : column;
}

::-webkit-scrollbar {
	width: 0px;
}

img {
	width: 100%;
}

h1,h2,h3 {
	font-family: Tahoma;
	font-size: 20px;
}

p {
	text-align: center;
}

a {
	text-decoration: none;
}

a.loisirs {
	margin-left: 35%;
	color: #3893E8;
}

h1 {
	text-align: center;
	color: #3893E8;
	text-transform: uppercase;

}

h2.lieu {
	text-align: center;
}

a.info {
	font-size: 20px;
	text-align: center;
	color: #3893E8;
}

img.photoProfil {
	width: 75%;
	height: auto;
}

img.lien {
	width: 15%;
}

header {
	background-color: black;
	width : 100%;
	height: 5vh;
	display : flex;
	flex-direction : row;
	align-items : center;
	position: fixed;
}

nav {
	width : 100vw;
	height: auto;
	display : flex;
	flex-direction : row;
	justify-content : center;
	align-items : center;
	box-shadow: 5px 10px 18px black;
}

nav a {
	margin-left: 5vw;
}

div.body {
	width : 100%;
	display : flex;
	flex-direction : row;
}

a.menu {
	color: white;
	font-weight: bold;
}

section.gauche {
	margin-top: 5vh;
	width : 20%;
	display : flex;
	flex-direction : column;
	align-items: center;
}

div.contenugauche {
	width : 100%;
	display : flex;
	flex-direction : column;
	justify-content : center;
	align-items : center;
	 margin-left: 5%;
}

section.droite {
	margin-top: 10vh;
	width : 100%;
	display : flex;
	flex-direction : column;
	justify-content : flex-start;
	align-items : center;
}

div.contientInfo {
	width : 50%;
	display : flex;
	flex-direction : row;
	justify-content : flex-start;
	align-items : flex-start;
}

div.infos {
	width: 100%;
}

button.btDownload {
	border: none;
	background-color: black;
	padding: 1em;
	margin-top: 2vh;
	margin-bottom: 5vh;
	margin-left: 35%;
}

button.btDownload:hover {
	background-color: white;
	transition: 0.3s;
}

a.linkDwl {
	text-align: center;
	text-decoration: none;
	color: #3893E8;
}

/* Contact */

input[type="text"], input[type="email"], input[type="date"],  input[type="password"], input[type="number"], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}

div.contact {
	border-radius: 5px;
	background-color: #F2F2F2;
	padding: 20px;
	margin-top: 5vh;
}

input[type=submit], input[type="reset"] {
	background-color: #3893E8;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

form {
	width: 50%;
	margin-left: 30%;
}

div.insc {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-radius: 5px;
	background-color: #F2F2F2;
	padding: 20px;
}

form.formulaire {
	display: none;
}

p.diplome {
	font-size: 16pt;
	color: orange;
	font-weight: bold;
}

button.connexion {
	border: none;
	background-color: #3893E8;
	color: white;
	padding: .5em;
	border-radius: 5px;
}

button.connexion a {
	color: white;
}

.dropbtn {
	border-radius: 5px;
	background-color: #3893E8;
	color: white;
	width: 10vw;
	padding: .3em;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	text-align: center;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 100vw;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 1em 1em;
	text-decoration: none;
	display: block;
	float: left;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: grey;}

div.contenuCV {
	padding: 1em;
	background-color: #ddd;
	margin-top: 5%;
	border-radius: 20px;
	box-shadow: 5px 10px 15px 2px black;
}
