$colorBody: #58D8E8;
%white{
	color:white;
}
#link {
	color: black;
}
@media screen and (max-width: 600px) {
	.bg {
		background-color: black;
		color: white;
	}
}
body{
	background: $colorBody;
	font-family: lato;
}

nav{
	text-align:center;
	margin-top:50px;
	li{
		padding-right:40px;
		display:inline;
		a{
			@extend %white;
			padding:10px;
			text-decoration:none;
			&:hover{
				@extend %white;
				border-top:3px solid white;
			}
		}
	}
}

table {
	width: 75px;
}
